#control-panel {
  display: flex;
}

.control-option {
  display: block;
  text-decoration: none;
  color: black;
  background-color: rgb(60, 199, 199);
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.8em;
  margin: 0.2em;
  text-align: center;
  border: 0.2em solid rgb(38, 126, 126);
  width: 5em;
}
.control-option:hover {
  background-color: rgb(38, 126, 126);
  border: 0.2em solid rgb(60, 199, 199);
  color: white;
}
.control-option > * {
  display: block;
}
.control-option img {
  height: 1.5em;
  margin: auto;
  margin-bottom: 0.5em;
}
.control-option:hover img {
  filter: invert(100%);
}
