@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400;1,6..12,700&display=swap');

/* Everything */
body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Header */

header {
  background-color: rgb(40, 136, 136);
  height: 6em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}
header > * {
  align-self: center;
}
.site-name {
  margin: 0;
  color: white;
  display: inline-block;
}
nav {
  display: inline-block;
}
nav a {
  padding: 0.5em;
  margin: 0.2em;
  text-decoration: none;
  color: white;
}
header a {
  text-decoration: none;
}
nav a:visited {
  color: white;
}
nav a:hover {
  border-bottom: 2px solid white;
}
.profile-icon {
  display: flex;
}
.profile-icon > * {
  align-self: center;
}
.profile-icon-username {
  margin-right: 0.5em;
  color: white;
  text-decoration: none;
}
.profile-icon-avatar {
  height: 3em;
  filter: invert(100%);
}
.header-login-button {
  text-decoration: none;
  color: white;
  padding: 1em;
  background-color: black;
  font-weight: bold;
  border-radius: 0.5em;
}

/* Main Content */
main {
  width: 80vw;
  margin: auto;
}

/* Standard forms */
form.input-group {
  margin-bottom: 1em;
}
.input-group label {
  display: block;
  margin-bottom: 0.2em;
}
.input-group-checkbox label {
  display: inline-block;
  margin-left: 0.5em;
}
.option-any {
  font-style: italic;
}
.input-group-row {
  display: flex;
  flex-direction: row;
}
.input-group-row > * {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.input-group-row > *:first-child {
  margin-left: 0;
}
.input-group-row > *:last-child {
  margin-right: 0;
}
form button {
  display: inline-block;
  background-color: rgb(99, 199, 166);
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 0.4em;
}
form button:hover {
  cursor: pointer;
  background-color: rgb(60, 117, 98);
}